<div class="banner"><%= image_tag 'banner.jpg', :class => "banner" %></div>
  <div class="container">
    <h1>Change your life and use our easy app to organise your events.</h1>
    <a class="btn btn-flat" href="#">Register now and start to use it</a>
  </div>
</div>
</div>


<!-- https://unsplash.com/photos/ULHxWq8reao -->
