<div class="banner"><%= image_tag 'banner.jpg', :class => "banner" %></div>
  <div class="container">
    <h1>Change your life and use our easy app to organise your events.</h1>
    <%= link_to "Start now", "bookings", class: "btn btn-gradient" %>
  </div>
</div>
</div>
