<div class="home-container">
  <div class="content">
    <div class="header">
    <h1>Simplify your life with our easy app</h1>
    <%= link_to "Start now", "bookings", class: "btn btn-gradient" %>
  </div>
</div>
</div>
