<div class="banner"><%= image_tag 'banner.jpg', :class => "banner" %></div>
  <div class="container">
    <h1>Simplify your life with our easy app</h1>
    <%= link_to "Start now", "bookings", class: "btn btn-gradient" %>
  </div>
</div>
</div>
